////////////////////////////// general //////////////////////////////

$text-color: #333333;
$bg-color-main: #FAEBD7;
$bg-color-item: #DEB887;
$bg-color-correct: #23a82c;
$bg-color-incorrect: #bf1f06;
$bg-btn-color-hover: #b3792e;

@mixin flex-centered() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  @include flex-centered();
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: $bg-color-main; 
  color: $text-color;
  font-family: 'Indie Flower', cursive;
  height: 95vh;
  width: 100vw;
}

  .container {
    display: -ms-grid;
    display: grid;
  }

    .header, 
    .question, 
    .score, 
    .answer-1, 
    .answer-2, 
    .answer-3, 
    .answer-4 {
      @include flex-centered();
      background-color: $bg-color-item;
    }

      .question__heading {
        font-style: italic;
      }

      .score__current-score, 
      .end-game-result__current-score {
        font-weight: 700;
      }

      .end-game-result, 
      .start-over {
        position: absolute;
        z-index: 1;
        opacity: 0.95;
      }

      .end-game-result {
        @include flex-centered();
        background-color: $bg-color-item;
        -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
            -ms-flex-direction: column;
              flex-direction: column;
        font-size: 2vw;
      }

      .start-over__button {
        background-color: $bg-color-main; 
        border: 1px solid $bg-btn-color-hover;
        cursor: pointer;
      }

      .visible {
        visibility: visible;
      }

      .hidden {
        visibility: hidden;
      }

      .button-container-1, 
      .button-container-2, 
      .button-container-3, 
      .button-container-4 {
        @include flex-centered();
        height: 50%;
        width: 75%;
      }

        .button-container-1__button, 
        .button-container-2__button, 
        .button-container-3__button, 
        .button-container-4__button {
          background-color: $bg-color-main; 
          border: 1px solid $bg-btn-color-hover;
          cursor: pointer;
          height: 80%;	
          width: 80%;
        }

        .correct {
          background-color: $bg-color-correct;
          color: $bg-color-main;
        }

        .incorrect {
          background-color: $bg-color-incorrect;
          color: $bg-color-main;
        }

.legal {
  @include flex-centered();
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: $bg-color-main; 
  color: $text-color;
  font-family: 'Indie Flower', cursive;
  height: 5vh;
  width: 100vw;
}

  .legal p {
    position: absolute;
    bottom: 2vh;
  }

////////////////////////////// for non-touch screen devices (to eliminate hover effects trails) //////////////////////////////

@media(hover: hover) and (pointer: fine) {

  .start-over__button:hover,
  .button-container-1__button:hover:not(.correct):not(.incorrect), // will apply if main class doesn't have .correct||.incorrect classes
  .button-container-2__button:hover:not(.correct):not(.incorrect),
  .button-container-3__button:hover:not(.correct):not(.incorrect), 
  .button-container-4__button:hover:not(.correct):not(.incorrect) {
    background-color: $bg-btn-color-hover;
    color: $bg-color-main;
  }
  
  .button-container-1__button:active, 
  .button-container-2__button:active, 
  .button-container-3__button:active, 
  .button-container-4__button:active {
    -webkit-transform:translateY(2px);
        -ms-transform:translateY(2px);
            transform:translateY(2px);
  }

}

////////////////////////////// for mobile phones //////////////////////////////

@media only screen and (max-width: 768px) {

  .main {
    font-size: 3vw;
  }

    .container {
      -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
      -ms-grid-rows: 1fr 0.5vw 1fr 0.5vw 1fr 0.5vw 4fr 0.5vw 4fr 0.5vw 4fr 0.5vw 4fr;
        grid-template-rows: 1fr 1fr 1fr 4fr 4fr 4fr 4fr; 
      grid-gap: 0.5vw; 
      height: 85vh; 
      width: 85vw;
    }

      .header, 
      .question, 
      .score, 
      .answer-1, 
      .answer-2, 
      .answer-3, 
      .answer-4 {
        -ms-grid-column: 1;
          -ms-grid-column-span: 1;
            grid-column: 1 / 2;
      }
  
      .end-game-result {
        font-size: 6vw;
        height: 85vh; 
        width: 85vw;
      }
    
      .start-over {
        bottom: 25%;
        left: 35%;
      }

        .start-over__button {
          font-size: 5vw;
          height: 7vh;
          width: 30vw;
        }

        .question__heading {
          font-size: 2.5vw;
        }

}

////////////////////////////// for tablets //////////////////////////////

@media only screen and (min-width: 768px) {

  .main {
    font-size: 2vw;
  }

    .container {
      -ms-grid-columns: 1fr 0.5vw 1fr 0.5vw 1fr 0.5vw 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 1fr 0.5vw 1fr 0.5vw 3fr 0.5vw 3fr;
        grid-template-rows: 1fr 1fr 3fr 3fr;
      grid-gap: 0.5vw; 
      height: 80vh; 
      width: 80vw;
    }
  
      .header {
        -ms-grid-column: 1;
          -ms-grid-column-span: 4;
            grid-column: 1 / 5;
      }

      .question {
        -ms-grid-column: 1;
          -ms-grid-column-span: 3;
            grid-column: 1 / 4;
      }

      .score {
        -ms-grid-column: 4;
          -ms-grid-column-span: 1;
            grid-column: 4 / 5;
      } 
      
      .answer-1, 
      .answer-3 {
        -ms-grid-column: 1;
          -ms-grid-column-span: 2;
            grid-column: 1 / 3;
      }

      .answer-2, 
      .answer-4 {
        -ms-grid-column: 3;
          -ms-grid-column-span: 2;
            grid-column: 3 / 5;
      }

      .end-game-result {    
        font-size: 4vw;
        height: 80vh; 
        width: 80vw;
      }
    
      .start-over {
        bottom: 25%;
        left: 35%;
      }

        .start-over__button {
          font-size: 4vw;
          height: 9vh;
          width: 30vw;
        }

        .question__heading {
          font-size: 2vw;
        }

}

////////////////////////////// for desktop //////////////////////////////

@media only screen and (min-width: 1200px) {

  .main {
    font-size: 1.5vw;
  }

    .container {
      -ms-grid-columns: 1fr 0.5vw 1fr 0.5vw 1fr 0.5vw 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 1fr 0.5vw 1fr 0.5vw 2fr;
        grid-template-rows: 1fr 1fr 2fr;
      grid-gap: 0.5vw; 
      height: 75vh; 
      width: 75vw;
    }

      .header {
        -ms-grid-column: 1;
          -ms-grid-column-span: 4;
            grid-column: 1 / 5;
      }
      
      .question {
        -ms-grid-column: 1;
          -ms-grid-column-span: 3;
            grid-column: 1 / 4;
      }
      
      .score {
        -ms-grid-column: 4;
          -ms-grid-column-span: 1;
            grid-column: 4 / 5;
      }
      
      .answer-1 {
        -ms-grid-column: 1;
          -ms-grid-column-span: 1;
            grid-column: 1 / 2;
      }

      .answer-2 {
        -ms-grid-column: 2;
          -ms-grid-column-span: 1;
            grid-column: 2 / 3;
      }

      .answer-3 {
        -ms-grid-column: 3;
          -ms-grid-column-span: 1;
            grid-column: 3 / 4;
      }

      .answer-4 {
        -ms-grid-column: 4;
          -ms-grid-column-span: 1;
            grid-column: 4 / 5;
      }

      .end-game-result {
        font-size: 3vw;
        height: 75vh; 
        width: 75vw;
      } 
    
      .start-over {
        bottom: 25%;
        left: 40%;
      }
      
        .start-over__button {
          font-size: 3vw;
          height: 11vh;
          width: 20vw;
        }

        .question__heading {
          font-size: 2vw;
        }

}